@using t4mvc.web.core.Annotation
@model Guid?
@{
    var select2Attribute    = ViewData["select2Attribute"] as Select2 ?? new Select2(null);
    var text                = ViewData["text"] as string;
}
<div class="input-group">
    <a class="input-group-text" href="@((select2Attribute.Area == null) ? "" : "/" + select2Attribute.Area)/@select2Attribute.Entity/details/@Model?returnUrl=@Current.PathAndQuery"><i data-feather="external-link"></i></a>
    <input class="form-control" value="@text" disabled="disabled" />
</div>
