@model string
@if (Current.EditMode)
{
    <div class="input-group">
        <span class="input-group-text">
            <i data-feather="phone"></i>
        </span>
            @Html.TextBox("", Model, new { @class = "form-control" })
    </div>
    
}
else
{
    if (long.TryParse(Model, out long l))
    {
        <div class="input-group">
            <a class="input-group-text" href="tel:@l">
                <i data-feather="phone"></i>
            </a>
                @Html.TextBox("", ((Model == null) ? "" : string.Format("{0:(###) ###-####}", l)), new { @class = "form-control", disabled = "disabled" })
        </div>
        
    }
    else
    {
        <div class="input-group">
            <a class="input-group-text" href="tel:@l">
                <i data-feather="phone"></i>
            </a>
            @Html.TextBox("", Model, new { @class = "form-control", disabled = "disabled" })
        </div>
    }
}
