html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: linear-gradient(#fff, #efefef);
}

.index-table {
    cursor: pointer;
    user-select: none;
}

.dataTable {
    width: 100%;
}

    .dataTable tbody tr td {
        cursor: pointer;
    }

.tab-content {
    padding: 6px;
}
.card-header {
    cursor: pointer; 
}
.action-footer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 266px);
    background: #191e3a;
    padding: 12px 20px;
    -webkit-box-shadow: -2px -9px 20px rgba(126, 142, 177, 0.12);
    -moz-box-shadow: -2px -9px 20px rgba(126, 142, 177, 0.12);
    box-shadow: -2px -9px 20px rgba(126, 142, 177, 0.12);
    border-top: 1px solid #f1f2f3;
    border-radius: 6px 6px 0 0;
    z-index: 5;
}
.action-footer .action-footer-container {
    display: flex;
    justify-content: space-between;
}
.action-footer .btn-default {
    background-color: #ccc;
}
a.dropdown-toggle {
    text-decoration: none;
}