<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">t4mvc</span>
    </a>
    <hr>
    <partial name="~/Views/Partials/SidebarNav.CodeGen.cshtml" />
    <hr>
    
</div>