<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="">
    <div class="position-sticky pt-3 p-3">
        <ul class="nav nav-pills flex-column mb-auto">
                    <!-- Area: crm -->
            <li class="mb-1 nav-item">
                <button class="btn btn-toggle align-items-center rounded collapsed nav-link" data-bs-toggle="collapse" data-bs-target="#crm-collapse" aria-expanded="true">
                    crm
                </button>
                <div class="collapse show" id="crm-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                        @if (User.IsInRole("crm")) {
                        <li class="nav-item">
                            <a asp-area="crm" asp-controller="Account" asp-action="index" class="nav-link">
                                <i data-feather="home"></i>
                                Account
                            </a>
                        </li>
                        } 
                        <li class="nav-item">
                            <a asp-area="crm" asp-controller="Contact" asp-action="index" class="nav-link">
                                <i data-feather="user"></i>
                                Contact
                            </a>
                        </li>        
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>