<nav>
	<ul>
		<li><a href='~/crm/Account'>Account</a></li>
		<li><a href='~/crm/Contact'>Contact</a></li>
		<li><a href='~/crm/Project'>Project</a></li>
		<li><a href='~/crm/ProjectLog'>ProjectLog</a></li>
		<li><a href='~/crm/Invoice'>Invoice</a></li>
	</ul>
</nav>