<nav>
	<ul>
		<li><a href='~/consulting/Account'>Account</a></li>
		<li><a href='~/consulting/Contact'>Contact</a></li>
		<li><a href='~/consulting/Project'>Project</a></li>
		<li><a href='~/consulting/ProjectLog'>ProjectLog</a></li>
		<li><a href='~/consulting/Invoice'>Invoice</a></li>
	</ul>
</nav>