




@{
    ViewBag.Title = "Invoices";
	ViewBag.HtmlTitle = Settings.Icon.GetIcon26("feather-file-text") + " Invoices";
}

<div class="widget-content widget-content-area br-6">
<!-- Create New -->
<div style="float:left; margin-top: 8px; margin-right: 16px;">
    @Html.ActionLink("Create", "Create", new { }, new { @class = "btn btn-default", @data_key_combo = "alt+c", title = "alt + c"  })
</div>

<table class="table dataTable" role="grid" id="invoice-table">
    <thead>
        <tr>
            <th></th>

            <th>Project</th>

            <th>Invoice Name</th>

            <th>Invoice Date</th>

            <th>Invoice Amount</th>

            <th>Status</th>

        </tr>
    </thead>
</table>
</div>

@section scripts {
    <script>
        $(function () {
			var detailsUrl = "/consulting/invoice/details/";
            var dTable = $("#invoice-table").DataTable({
                "serverSide": true,
                "ordering": true,
				stateSave: true,
                dom: t4mvc.excelButtonDom,
                "ajax": {
                    "url": "/api/getinvoices?cacheKey=" + new Date().getTime()
                },
                columns: [
                    { data: "InvoiceId" },
                    { data: "ProjectIdProjectName" },
                    { data: "InvoiceName" },
                    { data: "InvoiceDate" },
                    { data: "InvoiceAmount" },
                    { data: "Status" },

                ],
                columnDefs: [
                    {
                        targets: 0, render: function (a) {
                            return '<a href="' + detailsUrl + a + '">@Settings.Icon.DetailsIcon</a>';
                        }
                    },
                    { targets: 3, render: t4mvc.formatDate },
                    { targets: 4, render: t4mvc.formatMoney },

                ],
                order: [
                    [1, "asc"]
                ],
                drawCallback: function() { feather.replace(); }
            });

            $("#invoice-table tbody").on("dblclick", "tr", function () {
                var data = dTable.row(this).data();
                window.location.href = detailsUrl + data.InvoiceId;
            });

            key("esc", t4mvc.navigateUpOneLevel);
            key("ctrl+enter", function () {
                $(dTable.context[0].nTable).find("tbody tr:first a")[0].click();
            });

            $("#export-excel").click(function () {
                var params = dTable.ajax.params();
                var urlParams = $.param(params);

                // The last data table parameters get cached on the server and so they don't need to be sent here
                window.open("/api/export/invoice");
            });

        })
    </script>
    <script src="/api/js/Invoice.index"></script>
}
