<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - t4mvc.web</title>
    <link rel="stylesheet" href="~/t4mvc.web.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/dist/mainbundle.css" />
    @RenderSection("css", required: false)
    @RenderSection("head", required: false)
</head>
<body>
    <main>
    <partial name="~/Views/Partials/SidebarNav.cshtml" />
    @RenderBody()
    <partial name="_LoginPartial" />
    <script src="~/dist/mainbundle.js"></script>
    </main>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
