@using Microsoft.AspNetCore.Identity
@inject SignInManager<t4mvcUser> SignInManager
@inject UserManager<t4mvcUser> UserManager

@if (User.Identity.IsAuthenticated)
{
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
        @User.Identity.Name
    </a>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li>
            <a class="nav-link px-3" href="/Identity/Account/Manage">Profile</a>
        </li>
        <li>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <input id="logout-button" type="submit" class="nav-link px-3" value="Logout" />
            </form>
        </li>
    </ul>
}
else
{
    <a class="nav-link px-3" href="/Identity/Account/Login">Login</a>
}
