
@{
    ViewData["Title"] = "Open Source Credits";
}
 
<div class="row">
<h1>Open Source Credits</h1>

<p>This website depends on the work of below open source projects. Please support them!</p>

<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>License</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <!-- Bootstrap -->
        <tr>
            <td><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></td>
            <td><a href="https://github.com/twbs/bootstrap/blob/main/LICENSE">@Settings.Icon.FileIcon</a> MIT</td>
            <td>You know what this is</td>
        </tr>

        <!-- datatables.net -->
        <tr>
            <td><a href="http://datatables.net" target="_blank">DataTables.net</a></td>
            <td><a href="http://datatables.net/license">@Settings.Icon.FileIcon</a> MIT</td>
            <td>Html tables</td>
        </tr>

        <!-- Feather Icons -->
        <tr>
            <td><a href="https://feathericons.com/" target="_blank">Feather Icons</a></td>
            <td><a href="https://github.com/feathericons/feather/blob/master/LICENSE">@Settings.Icon.FileIcon</a> MIT</td>
            <td>Pretty svg icons</td>
        </tr>

        
        <!-- Keymaster -->
        <tr>
            <td><a href="keymaster.js" target="_blank">Keymaster.js</a></td>
            <td><a href="https://github.com/madrobby/keymaster/blob/master/MIT-LICENSE">@Settings.Icon.FileIcon</a> MIT</td>
            <td>Key bindings</td>
        </tr>

    </tbody>
</table>
<div>
    <h1>
        License: 
    </h1>

    <pre>
    MIT License

    Copyright (c) 2022 Zeph

    Permission is hereby granted, free of charge, to any person obtaining a copy
    of this software and associated documentation files (the "Software"), to deal
    in the Software without restriction, including without limitation the rights
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
    copies of the Software, and to permit persons to whom the Software is
    furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included in all
    copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
    SOFTWARE.
    </pre>
</div>
</div>