html {
    font-size: 14px;
    max-width: 100vw;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: linear-gradient(#fff, #efefef);
    max-width: 100vw;
    overflow-x: hidden;
}

main {
    position: relative;
    min-height: calc(100vh - 48px);
    padding-bottom: 62px;
    overflow: auto;
}
// Nav stuff
.navbar {
    .dropdown-toggle {
        padding-left: 8px;
        padding-right: 8px;
    }

    #logout-button {
        background-color: unset;
        border: unset;
    }

    .dropdown-menu {
        position: absolute;
        left: auto;
        right: 0;
    }

    .navbar-brand {
        img { max-height: 100%; }
    }
}

.sidebar .sb-area {
    width: 100%;
    background: radial-gradient(#efefef, #caced2);
}

.icon-badge { 
    padding: 4px 48px; 
    position: absolute;
    top: 3px; 
    right: 3px; 
    border: solid 3px green;
    border-radius: 48px;
}

#border-top-Audit { 
    overflow-y: auto;
}