@import 'mixins/breakpoints.scss';
@import 'vars.scss';
$borderRadius: 5px;

.tab-content {
    padding: 6px;
    border-color: #dee2e6;
    border: solid 1px #dee2e6;
    border-top: none;
    background-color: white;
    overflow-y: auto;
    border-end-end-radius: $borderRadius;
    border-end-start-radius: $borderRadius;

    @include screen('sm') {
        overflow-x: scroll;
    }
}

.card-header {
    cursor: pointer;
}

.action-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #191e3a;
    padding: 12px 20px;
    -webkit-box-shadow: -2px -9px 20px rgba(126, 142, 177, 0.12);
    -moz-box-shadow: -2px -9px 20px rgba(126, 142, 177, 0.12);
    box-shadow: -2px -9px 20px rgba(126, 142, 177, 0.12);
    border-top: 1px solid #f1f2f3;
    border-radius: 6px 6px 0 0;
    z-index: 5;

    @include screen('sm') {
        position: fixed;
    }
}

.action-footer .action-footer-container {
    display: flex;
    justify-content: space-between;
}

.action-footer .btn-default {
    background-color: #ccc;
}

a.dropdown-toggle {
    text-decoration: none;
}

.accordion .icons {
    float: right;
}

.accordion-item {
    margin: 8px 0px;
}

.select2-container--default .select2-selection--single {
    height: auto;
    line-height: 1.5em;
    padding: .3em .3em;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: .3em;
}

.form-control[disabled] {
    background-color: $disabled-background-color;
    min-height: 34px;
}

.audit-card { display: flex; flex-direction: row; border-top: none; border-bottom: none; }
.audit-card > img { flex: 1; max-height: 100px; }
.tl-header > img { max-height: 48px; }